

	{% block contenido %}
	<div class="container-fluid pb-1 pt-1" >
		<div class="row mt-3 mb-3 ml-5">
			<h1><strong>BIENVENIDOS AL SISTEMA DE PRODUCTOS ER1</strong></h1>
		</div>


	</div>

	<div class="col-4 nav">
		<div style="margin: 10px" class="d-flex align-items-center">
		{% if user.is_authenticated %}
			<b class="text-light mr-2">Hola, {{user.username}}!</b>
			<a href="{% url 'logout' %}">Logout</a>
		{% else %}
			<a href="{% url 'login' %}">Login</a>
		{% endif %}
	</div>	
	{% endblock contenido %}